<h1>Pokedex for the Kanto Region</h1>


<div class="row row-cols-1 row-cols-md-4 g-4">
    {{#each pokemonList}}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.name}}-image">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.species}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Type: {{this.type1}} {{this.type2}}</li>
                <li class="list-group-item">Height: {{this.height}}</li>
                <li class="list-group-item">Weight: {{this.weight}}</li>
            </ul>
            <div class="card-body">
                <a href="/pokemon/{{this._id}}" class="card-link">Details</a>
                <a href="/pokemon/{{this._id}}/edit" class="card-link">Edit</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>