
<div class="card" style="width: 50vw">
     <img src="{{pokemon.imgUrl}}" class="card-img-top" alt="{{poke.name}} image">
    <div class="card-body">
        <h5 class="card-title">Edit {{pokemon.name}}'s Details</h5>

        <form class="row g-3" method="POST" action="/pokemon/{{pokemon._id}}/edit" enctype="multipart/form-data">
            <div class="col-md-5">
                <label class="form-label"> Name:
                    <input type="text" class="form-control" id="name" name="name" value="{{pokemon.name}}">
                </label>
            </div>

            <div class="col-md-5">
                <label class="form-label"> Species:
                    <input type="text" class="form-control" id="species" name="species" value="{{pokemon.species}}">
                </label>
            </div>

            <div class="col-2">
                <label class="form-label">National No.:
                    <input type="number" class="form-control" id="indexNumber" name="indexNumber"
                        value="{{pokemon.indexNumber}}" min="1">
                </label>
            </div>

            <div class="col-md-6">
                <label for="inputState" class="form-label"> Type:
                    <select id="inputType1" class="form-select" name="type1">
                        <option value="" disabled selected>Select a type</option>
                        {{#each type1Enum}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>

            <div class="col-md-6">
                <label for="inputState" class="form-label"> Second Type (opt.):
                    <select id="inputType2" class="form-select" name="type2">
                        <option value="" disabled selected>Select a type</option>
                        {{#each type2Enum}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>

            <div class="col-6">
                <label class="form-label">Height:
                    <input type="number" class="form-control" id="height" name="height" value="{{pokemon.height}}">
                </label>
            </div>

            <div class="col-6">
                <label class="form-label">Weight:
                    <input type="number" class="form-control" id="weight" name="weight" value="{{pokemon.weight}}">
                </label>
            </div>

            <div class="col-6">
                <label class="form-label">Image:
                    <input type="file" class="form-control" name="poke-img" value="{{pokemon.imgUrl}}">
                </label>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Pokemon</button>
            </div>

        </form>


    </div>
</div>