<nav>
    <div class="home"> <a href="/">homepage</a></div>
    <div class="pokemon"> <a href="/pokemon">pokemon</a></div>
    <div class="createPokemon"> <a href="/pokemon/create">create pokemon</a></div>
    <div class="myAccount">
        <div class="register"><a href="/auth/signup">sign up </a></div>
        <div class="logIn"> <a href="/auth/login">log in</a></div>
        <div class="logOut"><a href="/auth/logout">log out </a></div>
    </div>
</nav>

<img src="{{this.imgUrl}}" alt="{{this.name}} image">

<h1>{{this.name}} <span>no. {{this.indexNumber}}</span></h1>
<h2>{{this.species}}</h2>
<h3>{{this.type}}</h3>
<ul> Details:
    <li>height: {{this.height}}</li>
    <li>weight: {{this.weight}}</li>
    <li>Regional Exclusive? {{this.regionalExclusive}}</li>
    <li>Region: {{this.region}}</li>
</ul>

<a href="/pokemon/{{_id}}/edit">Edit</a>



<form action="/pokemon/{{this._id}}/delete" method="POST">
      <button>Delete</button>
</form>