<img src="{{this.imgUrl}}" alt="{{this.name}} image">

<h1>{{this.name}} <span>no. {{this.indexNumber}}</span></h1>
<h2>{{this.species}}</h2>
<h3>{{this.type1}} {{this.type2}}</h3>
<ul> Details:
    <li>height: {{this.height}}</li>
    <li>weight: {{this.weight}}</li>
</ul>

<a href="/pokemon/{{_id}}/edit">Edit</a>



<form action="/pokemon/{{this._id}}/delete" method="POST">
    <button>Delete</button>
</form>