<h2>This is community</h2>

{{#each post}}

<section class="post-summary">

    <h2>{{this.title}}</h2>
    <p>
        Content:{{this.content}}
        <a href="/community/post/{{this._id}}">more <details></details></a>

        <a href="/community/post/{{this._id}}/edit">update</a>
    </p>

    <form action="/community/post/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
</section>

{{/each}}