<body class="bg-my-posts">


    <div class="container">
        <div class="card col-6 mx-auto" style="background-color: rgba(255, 255, 255, 0.5);">
            <h2 class="text-center my-4">My Posts</h2>
        </div>
        

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each post}}
            <div class="col">
                <div class="card h-100">
                    <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.content}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="/community/post/{{this._id}}/edit" class="btn btn-outline-warning">Update</a>
                        <a href="/community/post/{{this._id}}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</body>