<div class="container text-left ms-4 mt-5">
    <div class="row">
        <div class="col ">
            <span>May 28 | </span>
            <span>Written By <a href="/news?author=632216d9dcb5eb4f13bd4cb7">Link opacity</a> </span>
        </div>
    </div>
    <div class="row mt-5 my-4">
        <h1 class="col">{{title}}</h1>
    </div>
    <div class="card w-50 mt-5">
        <img src="{{imageUrl}}" class="card-img" alt="...">

    </div>
    <div class="row w-50 mt-5">
        <p class="col">{{content}}</p>
    </div>

    <a href="/community/post/{{this._id}}/edit" class="btn btn-warning">Update</a>
    <form action="/community/post/{{this._id}}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>

</div>


<section class="post-details">
    <h2 class="text-center my-4">Welcome to Pokemon Community</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col mx-auto">
                <div class="card h-100">
                    <img src="{{imageUrl}}" alt="{{title}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{content}}</p>
                    </div>
                    <div class="d-inline-flex justify-content-between align-items-center card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>