<body class="prairie-bg">
    <div class="pokedex-bg my-account" style="width: 80vw">
        <div class="card-body" style="max-height: 80vh; overflow: auto;">
            <div class="card text-center d-flex align-items-center flex-column mt-4 mx-auto" style="width: 80%;">
                <h2 class="card-title">Welcome {{currentUser.username}}!</h2>
                <h6 class="card-subtitle mb-2 text-body-secondary">Username: {{currentUser.username}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Email: {{currentUser.email}}</h6>

            </div>
            <hr>

            <h4>Your Favorite Pokemon</h4>

            <div class="row row-cols-1 row-cols-md-6 g-4 m-4">
                {{#each pokemonList}}
                <div class="col">
                    <div class="card">
                        <img src="{{this.imgUrl}}" class="card-img-top" alt="{{this.name}}-image">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <a href="/pokemon/{{this._id}}" class="card-link">
                                <button type="button" class="btn btn-outline-success">View</button>
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <hr>
            <h4>Your Favorite Post</h4>

            <div class="row row-cols-1 row-cols-md-6 g-4 m-4">
                {{#each postList}}
                <div class="col">
                    <div class="card">
                        <img src="{{this.imageUrl}}" class="card-img-top" alt="{{this.title}}-image">
                        <div class="card-body">
                            <h5 class="card-title one-lines">{{this.title}}</h5>
                            <a href="/community/post/{{this._id}}" class="card-link">
                                <button type="button" class="btn btn-outline-success">View</button>
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>